extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .nav-bar
    .logo-container
      .medium-img
        img(src='https://seeklogo.com/images/M/medium-logo-F0ACFCCD58-seeklogo.com.png' class='medium-img')
      .large-font
        h1.large-font Large
    .button-container
      if (isLoggedIn)
        form(action="/logout" method="post")
          button(class='logout-button') Log Out
      else
        a(type='button' class='login-button' href='/login') Sign In
        a(href='/signup'): button(type='button' class='signup-button') Get Started
  .welcome-block
    .left-side-welcome
      .writing-block
        h2 Large is a place to write about videogames.
      .smaller-text
        p It's easy to bla bla bla
      .start-writing-container
        a(href='/login' class="start-writing-text"): button(type='button' class='start-writing-button') Start Writing
    .right-side-welcome
      img(src='./imgs/medium-welcome-snip.JPG' class='quote-img')
  .posts-block
    each post in posts
      a(href=`/posts/${post.id}` class="post-link"): div.post-box
        .post-author
          img(src='./imgs/profile-icon.png' class= "profile-img-small")
          p.post-username= post.User.username
        p.post-title= post.title
        .post-content-box
          p.post-content= post.content
        .post-footer
          p.post-date= postDate(post.createdAt)
