extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/signup.css')

block content
    .nav-bar
        div.logo-container
            img(src='https://seeklogo.com/images/M/medium-logo-F0ACFCCD58-seeklogo.com.png' class='medium-img')
            h1.large-font Large
    .signup-container
        div.error-container
            ul
            if errors
                each error in errors
                    li.list=error
        form(action='/signup' method='post')
            .inner-container
                input(type='hidden' name='_csrf' value=csrfToken)
                label(for='username' class='font') Username
                input(type='text' class='username-input inp' name='username' value=user.username)
                label(for='email font' class='font') Email
                input(type='text' class='email-input inp' name='email' value=user.email)
                label(for='password' class='font') Password
                input(type='text' class='password-input inp' name='password' value=hashedPassword)
                label(for='confirmPassword' class='font') Confirm Password
                input(type='text' class='confirm-pass-input inp' name='confirmPassword')
            .button-container
                a(href='/' class="cancel-button-link"): button(type='button' class='cancel-button') Cancel
                button(type='submit' class='signup-button') Sign-Up
        .demo-button-container
            form(action='/login' method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                input(type='hidden' name='email' value='demo@demo.com')
                input(type='hidden' name='password' value='demoPassword1!')
                button(class='demo-button') Demo User
        .login-container
            p.font Already have an account?
                a(class='login-option font' href='/login' ) Log In
    .footer
