extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/specific-post.css')
    script(src="/javascripts/specific-post.js" type="module" defer)

block content
    .total-body
        .change-opacity
            .nav-bar
                .name-block-left
                    a(href='/posts' class='author-name')= post.User.username
                .icon-block-right
                    img(src='https://www.freeiconspng.com/uploads/profile-icon-9.png' class='profile-img-1')
                    img(src='https://seeklogo.com/images/M/medium-logo-F0ACFCCD58-seeklogo.com.png' class='medium-img')
            .main-body
                .post-block
                    .title-img-content
                        h1= post.title
                        .username-and-time
                            img(src='https://www.freeiconspng.com/uploads/profile-icon-9.png' class='profile-img-2')
                            a(href='/posts' class='small-username')= post.User.username
                            p(class='date')= postDate(post.createdAt)
                        .post-contents
                            p= post.content
                    .lower-post-nav
                        .lower-post-nav-left
                            img(src='https://topmediumstories.com/clap.png' class='clap-img')
                            img(src='https://static.thenounproject.com/png/3460458-200.png' class='comment-button')
                        .lower-post-nav-right
                            if (post.userId === userId)
                                button(class='edit-button'): a(href=`/posts/${post.id}/edit` class='edit-text') Edit
                                button(class='delete-button') Delete
            .footer
                .footer-left-block
                    img(src='https://seeklogo.com/images/M/medium-logo-F0ACFCCD58-seeklogo.com.png' class='medium-img-invert')
                    p(class='footer-large-font') Large
            .delete-form
                .form-box
                    form(action=`/posts/delete/${post.id}` method='post')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        p.question Are you sure you want to delete?
                        .buttons-section
                            a(class='cancel-link' href=`/posts/${post.id}`): button(type='button' class='cancel-button') Cancel
                            button(type='submit' class='delete-button') Delete
